<div class="business-promoter-container">
  <ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="false">
    <% @business_promoters.each do |promoter| %>
      <li>
        <%= image_tag('delete-icon.png', id: promoter.id) %>
        <% if !@source_view.nil? %>
          <a href="<%= new_deal_path + @query_string + '&promoter_id=' + promoter.id.to_s %>">
        <% else %>
          <a href="#">
        <% end %>
          <h2><%= promoter.name %></h2>
          </a>
      </li>
    <% end %>
  </ul>
</div>