<div class="business-promoter-container">
  <ul data-role="listview" data-filter="true" data-filter-placeholder="Search..." data-inset="false">
    <% @promoters.each do |promoter| %>
      <li data-icon="fa-plus">
        <a href="<%= business_promoters_create_path + '?promoter_id=' + promoter.id.to_s %>">
        <h2><%= promoter.name%></h2>
        </a>
      </li>
    <% end %>
  </ul>
</div>