<div class="business-promoter-container">
  <ul data-role="listview" data-inset="false">
    <% @deals.each do |deal| %>
      <li>
        <a href="#">

        </a>
      </li>
    <% end %>
  </ul>
</div>
