<div data-role="footer">
  <div data-role="navbar">
    <ul>
      <li><a href="<%= home_index_path %>" data-icon="fa-home">Home</a></li>
      <li><a href="<%= deals_path %>" data-icon="fa-th-list">Deals</a></li>
      <li><a href="<%= business_promoters_index_path %>" data-icon="fa-group">Promoters</a></li>
      <li><a href="<%= settings_index_path %>" data-icon="fa-gear">Settings</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->