<div data-role="footer">
  <div data-role="navbar">
    <ul>
      <li><a href="/home/index" data-icon="grid">Home</a></li>
      <li><a href="/deals" data-icon="star">Deals</a></li>
      <li><a href="#" data-icon="gear">Promoters</a></li>
      <li><a href="#" data-icon="gear">Settings</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->