<div class="welcome-container">
  <div class="sign-up-container">
    <div class="btn-group" role="group" aria-label="...">
      <a href="#" class="btn btn-default btn-outline btn-lg">Business</a>
      <a href="#" class="btn btn-default btn-outline btn-lg">Promoter</a>
    </div>
  </div>
  <div class="button_container">
    <div class ="form-group">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-outline btn-lg" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-outline btn-lg" %>
    </div>
  </div>
</div>