<div class="welcome-container">
  <div class="sign-up-container">
    <form action="<%= welcome_sign_process_path %>" method="get">
      <fieldset data-role="controlgroup" data-type="horizontal" id="role">
        <input name="role_option" id="business-signup" value="business" checked="checked" type="radio">
        <label for="business-signup">Business</label>
        <input name="role_option" id="promoter-signup" value="promoter" type="radio">
        <label for="promoter-signup">Promoter</label>
      </fieldset>
      <div class="button_container">
        <%= button_tag( :name => 'submit_option', :class => "btn btn-primary", :value => "signup") do %>
              Sign up
          <% end %>
        <%= button_tag( :name => 'submit_option', :class => "btn btn-default", :value => "login") do %>
              Login
          <% end %>
      </div>
    </form>
  </div>
</div>