<ul data-role="listview">
  <% @deal_types.each do |deal_type| %>
    <li>
      <a href="<%= deal_types_path + '/' + deal_type.id.to_s + '/edit' %>"><%= deal_type.name %></a>
    </li>
  <% end %>
</ul>
