<div data-role="footer">
  <div data-role="navbar">
    <ul>
      <li><a href="<%= home_index_path %>" data-icon="fa-home" data-transition="slidefade">Home</a></li>
      <li><a href="<%= deals_path %>" data-icon="fa-user" data-transition="slidefade">Profile</a></li>
      <li><a href="<%= business_promoters_index_path %>" data-icon="fa-group" data-transition="slidefade">Promoters</a></li>
      <li><a href="<%= deal_types_edit_path %>" data-icon="fa-pencil" data-transition="slidefade">Deal</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->