<h1><%= @header_title %></h1>
<%= link_to "", destroy_business_session_path, method: :delete, class: "ui-btn-right ui-btn-icon-no-text", data: { icon: "fa-sign-out", mini: "true"} %>

<% if @back_path %>
  <%= link_to "", @back_path, class: "ui-btn-left ui-btn-icon-no-text", data: { icon: "fa-arrow-left", mini: "true" } %>
<% end %>