.business-profile {
  text-align: center;
  .header-info-container {
    margin-bottom: 30px;
  }
  .report-info-container {
    position: absolute;
    top: 350px;
    width: 100%;
    margin: auto 0;
    .report-info-badget {
      background-color: #F0F0F0;
      opacity: 0.9;
      border-radius: 50%;
      display: inline-block;
      margin-right: 30px;
      width: 120px;
      height: 120px;
      text-align: center;
      cursor: pointer;
      .badget-value {
        position: relative;
        top: 40px;
        font-size: 30px;
      }
      .badget-title {
        position: relative;
        bottom: -100px;
      }
    }
  }
  .button-container {
    position: absolute;
    bottom: 50px;
    margin-left:-120px;
    left:50%;
    width:280px;
    .btn-sign-out {
      width:100%;
      color: #FFFFFF;
      text-shadow: none;
    }
  }
}
