.business-promoter-profile {
  text-align: center;
  .header-info-container {
    margin-bottom: 30px;
    font-weight: 500;
  }
  .report-info-container {
    position: absolute;
    top: 200px;
    width: 100%;
    margin: auto 0;
    font-weight: 500;
    .report-info-badget {
      background-color: #F0F0F0;
      opacity: 0.9;
      border-radius: 50%;
      display: inline-block;
      margin-right: 30px;
      width: 120px;
      height: 120px;
      .badget-value {
        position: relative;
        top: 40px;
        font-size: 30px;
      }
      .badget-title {
        position: relative;
        bottom: -100px;
        font-size: 24px;
      }
    }
  }
  .button-container {
    position: absolute;
    bottom: 50px;
    margin-left:-140px;
    left:50%;
    width:280px;
    .btn-delete {
      width:100%;
      color: #FFFFFF;
      text-shadow: none;
    }
  }
  .action-button-container {
    position: absolute;
    top: 450px;
    margin-left:-140px;
    left:50%;
    width:280px;
    .btn-action {
      display: block;
      width:100%;
      margin-bottom: 10px;
    }
  }
}

#credit .badget-value {
  color: #FF6B6B;
}

.payment-container {
  text-align: center;
  .report-info-container {
    height: 200px;
    width: 100%;
    margin: auto 0;
    font-weight: 500;
    padding-top: 45px;
    .report-info-badget {
      background-color: #F0F0F0;
      opacity: 0.9;
      border-radius: 50%;
      display: inline-block;
      width: 120px;
      height: 120px;
      .badget-value {
        position: relative;
        top: 40px;
        font-size: 30px;
      }
      .badget-title {
        position: relative;
        top: -75px;
        font-size: 24px;
      }
    }
  }
  .payment-form {

  }
}

.history-container {
  .ui-controlgroup {
    text-align: center;
    margin-bottom: 30px;
    .ui-btn {
      width: 150px
    }
  }
  .deals-container {
    font-size: 20px;
    font-weight: 400;
    .deals-data {
      .ui-listview {
        .ui-li-static {
          .deal-client-number {
            float: left;
            padding-left: 20px;
          }
          .deal-date-time {
            float: right;
          }
        }
      }
    }
  }
  .payments-container {
    font-size: 20px;
    font-weight: 400;
    .payments-data {
      .ui-listview {
        .ui-li-static {
          .payment-amount {
            float: left;
            padding-left: 20px;
          }
          .payment-what-for {
            float: left;
            padding-left: 40px;
          }
          .payment-date {
            float: right;
          }
        }
      }
    }
  }
}


