.business-promoter-container {
  .ui-li-has-thumb {
    img {
      height: 24px;
      margin-top: 15px;
      margin-left: 10px;
      z-index: 10;
      cursor: pointer;
      display: none;
    }
    .ui-btn {
      padding-left: 15px;
    }
  }
}

.business-promoter-deals-container {
  .ui-listview {
    .ui-li-static {
      .referrals {
        float:left;
      }
      .commission {
        float:left;
        margin-left: 150px;
      }
      .img-pay {
        img {
          height: 32px;
          margin-left: 10px;
        }
        float:right;
      }
    }
  }
}