.dashboard-container {
  .dashboard-list {
    margin-bottom: 35px;
    .ui-listview {
      .ui-li-static {
        img {
          height: 32px;
          cursor: pointer;
        }
        .promoter-name {
          width: 100px;
          float:left;
          font-size: 14px;
        }
        .count-widget {
          width: 130px;
          float:left;
          .ui-controlgroup {
            margin: 0px 0px 0px 10px;
            .ui-controlgroup-controls {
              .ui-btn {
                background-color: #FFFFFF !important;
              }
              .ui-shadow-inset {
                box-shadow: none;
              }
              .ui-input-text {
                padding: 3px 0px 4px 0px !important;
                input {
                  width: 40px !important;
                }
              }
            }
          }
        }
        .img-check {
          float:left;
          margin-top: 5px;
        }
        .resume-widget {
          float:right;
          .credit-total {
            font-size: 26px;
            font-weight: 700;
            color: #FF6B6B;
          }
        }
      }
    }
  }
  .dashboard-actions {
    text-align: center;
    .btn-add-promoter {
      width: 300px;
    }

  }
}