.dashboard-container {
  .ui-listview {
    .ui-li-static {
      img {
        height: 32px;
        cursor: pointer;
      }
      .promoter-name {
        width: 100px;
        float:left;
        font-size: 14px;
      }
      .count-widget {
        padding-left: 10px;
        .referrals-value {
          float:left;
          font-size: 20px;
          font-weight: 500;
          width: 20px;
          text-align: center;
        }
        .img-minus {
          float:left;
          margin-right: 5px;
          margin-left: 5px;
        }
        .img-plus {
          float:left;
          margin-left: 5px;
        }
      }
      .resume-widget {
        float:right;
        .referrals-total {
          float:left;
          font-size: 20px;
          font-weight: 700;
        }
        .img-check {
          img {
            margin-left: 10px;
          }
          float:right;
        }
      }
    }
  }
}