<div class="ui-bar subheader">
  <div class="btn-container">
      <%= link_to "", @subheader_new_item_path, class: "ui-btn-right ui-icon-fa-plus ui-btn-icon-notext ui-corner-all" %>
  </div>
</div>

