<div class="ui-bar subheader">
  <div class="btn-container">
    <% if defined? @subheader_right_action %>
      <%= link_to @subheader_right_action[:text], @subheader_right_action[:path], class: @subheader_right_action[:icon] %>
    <% end %>
    <% if defined? @subheader_left_action %>
      <%= link_to @subheader_left_action[:text], @subheader_left_action[:path], class: @subheader_left_action[:icon] %>
    <% end %>
  </div>
</div>
